<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>London Tendrils</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <link rel="stylesheet" href="style.css"> 
    </head>

    <body>
         <div id="app">
            <header>
                <img v-bind:src="logo" v-bind:style="{ width: '150px', height: 'auto' }">
                <h1 v-text="sitename"></h1>
                <button v-on:click="toggleCheckout" :disabled="isCartEmpty">{{ cartItemCount }} 
                        <span class="fa-solid fa-cart-plus"></span>
                                checkout
                </button>
                <div class="home-button">
                    <button v-on:click="goHome" v-if="!showClasses">
                        <span class="fa-solid fa-house-user"></span>
                        Home</button>
                </div>
            </header>
            <main>
                <div v-if="showClasses">
                    <h1>Afterschool Learning Assistance</h1>
                    <!-- Sorting Options -->
                <div class="sort-box">
                    <label for="sortBy">Sort by: </label>
                    <select v-model="sortOption">
                        <option value="Subject">Subject</option>
                        <option value="Location">Location</option>
                        <option value="Price">Price</option>
                        <option value="Availability">Availability</option>
                    </select>
                    <button v-on:click="toggleSortOrder">
                        {{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }}
                    </button>
                </div>

                            <!--class items being displayed-->
                    <div v-for="classItem in filteredClasses" :key="classItem.id" class="class-box">
                            <figure>
                                <img v-bind:src="classItem.image" v-bind:style="{ width: '200px', height: 'auto' }">
                            </figure>
                        <h2>{{ classItem.Subject }}</h2>
                        <p>Subject: {{ classItem.Subject }}</p>
                        <p>Price: ${{ classItem.Price }}</p>
                        <p>Availability: {{ classItem.Availability}}</p>
                        <p>Location: {{ classItem.Location }}</p>

                        <div>
                            <!-- Full star on whole number... -->
                            <span v-for="n in Math.floor(classItem.rating)" :key="`full-${n}`"><i class="fa-solid fa-star"></i></span>
                            
                            <!-- Half star on 0.5 -->
                            <span v-if="classItem.rating % 1 !== 0" :key="`half-star`"><i class="fa-regular fa-star-half-stroke"></i></span>
                            
                            <!-- Empty stars -->
                            <span v-for="n in 5 - Math.ceil(classItem.rating)" :key="`empty-${n}`"><i class="fa-regular fa-star"></i></span>
                        </div>

                        <button v-on:click="addToCart(classItem)" v-if="canAddToCart(classItem)">Add to Cart</button>
                        <button disabled v-else>No Availability</button>
            

                    </div>  

                </div>
            </main>
         </div>

         <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    logo:"images/logo.jpg",
                    sitename:"London Tendrils International School",
                    sortOption: 'subject',
                    sortOrder: 'asc',
                    searchQuery: '', 
                    order: {
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        zip: '',
                        state: '',
                        gift: false,
                        method: 'Home',
                    },
                    states: {
                                DU: 'Dubai',
                                SH: 'Sharjah',
                                AJ: 'Ajman',
                                AB: 'Abu Dhabi'
                            },
                            
                    classes: classes,
                    showClasses: true,
                    cart:[], //array to store items in shopping cart
    
                    
            },
        });
        </script>
    </body>
</html>