<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>London Tendrils</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <link rel="stylesheet" href="style.css"> 
    </head>

    <body>
         <div id="app">
            <header>
                <img v-bind:src="logo" v-bind:style="{ width: '150px', height: 'auto' }">
                <h1 v-text="sitename"></h1>
                <button v-on:click="toggleCheckout" :disabled="isCartEmpty">{{ cartItemCount }} 
                        <span class="fa-solid fa-cart-plus"></span>
                                checkout
                </button>
                <div class="home-button">
                    <button v-on:click="goHome" v-if="!showClasses">
                        <span class="fa-solid fa-house-user"></span>
                        Home</button>
                </div>
            </header>
            <main>
                <div v-if="showClasses">
                    <h1>Afterschool Learning Assistance</h1>
                    <!-- Sorting Options -->
                <div class="sort-box">
                    <label for="sortBy">Sort by: </label>
                    <select v-model="sortOption">
                        <option value="Subject">Subject</option>
                        <option value="Location">Location</option>
                        <option value="Price">Price</option>
                        <option value="Availability">Availability</option>
                    </select>
                    <button v-on:click="toggleSortOrder">
                        {{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }}
                    </button>
                </div>

                <div class="search-bar">
                    <input type="text" v-model="searchQuery" placeholder="Search..">
                </div>

                            <!--class items being displayed-->
                    <div v-for="classItem in filteredClasses" :key="classItem.id" class="class-box">
                            <figure>
                                <img v-bind:src="classItem.image" v-bind:style="{ width: '200px', height: 'auto' }">
                            </figure>
                        <h2>{{ classItem.Subject }}</h2>
                        <p>Subject: {{ classItem.Subject }}</p>
                        <p>Price: ${{ classItem.Price }}</p>
                        <p>Availability: {{ classItem.Availability}}</p>
                        <p>Location: {{ classItem.Location }}</p>

                        <div>
                            <!-- Full star on whole number... -->
                            <span v-for="n in Math.floor(classItem.rating)" :key="`full-${n}`"><i class="fa-solid fa-star"></i></span>
                            
                            <!-- Half star on 0.5 -->
                            <span v-if="classItem.rating % 1 !== 0" :key="`half-star`"><i class="fa-regular fa-star-half-stroke"></i></span>
                            
                            <!-- Empty stars -->
                            <span v-for="n in 5 - Math.ceil(classItem.rating)" :key="`empty-${n}`"><i class="fa-regular fa-star"></i></span>
                        </div>

                        <button v-on:click="addToCart(classItem)" v-if="canAddToCart(classItem)">Add to Cart</button>
                        <button disabled v-else>No Availability</button>
            

                    </div>  
                </div>

                <!-- Checkout Form being displayed-->
                <div v-else>
                    <div class="checkout-page">
                        <h2>Checkout Page</h2>
                    </div>

                    <!--Cart Items-->
                    <div class="cart" v-if="cart.length > 0">
                        <h2><span class="fa-solid fa-cart-plus"></span> Your Cart</h2>
                        <ul>
                            <li v-for="item in cart" :key="item.id">
                               {{ item.Subject }} - ${{ item.Price }}
                                <button v-on:click="removeFromCart(item)">🗑️</button>
                            </li>
                        </ul>
                        <p><strong>Total: </strong>${{ totalPrice }}</p>
                    </div>
                    <div v-else>
                        <p>No items in cart</p>
                    </div>

                    <div class="checkout-form">
                        <h2>Checkout Form</h2>
                        <p>
                          <strong>First Name:</strong>
                          <input v-model.trim="order.firstName"/>
                        </p>
                        <p>
                          <strong>Last Name:</strong>
                          <input v-model="order.lastName"/>
                        </p>
                        <p>
                          <strong>Number:</strong>
                          <input v-model="order.Number" type="text" maxlength="13" @input="order.Number = order.Number.replace(/[^0-9+]/g, '')" />
                        </p>
                        <p>
                          <strong>Address:</strong>
                          <input v-model="order.address"/>
                        </p>
                        <p>
                          <strong>City:</strong>
                          <input v-model="order.city"/>
                        </p>
                        <p>
                          <strong>State:</strong>
                          <select v-model="order.state">
                            <option disabled value="">State</option>
                            <option v-for="(state, key) in states" :value="state">{{ key }}</option>
                          </select>
                        </p>
                        <p>
                          <strong>Zip/Postal Code:</strong>
                          <input v-model.number="order.zip" type="number"/>
                        </p>
                        <p>
                          <input type="checkbox" id="gift" v-model="order.gift">
                          <label for="gift">Ship as Gift?</label>
                        </p>
                        <p>
                          <input type="radio" id="home" value="Home" v-model="order.method">
                          <label for="home">Home</label>
                        </p>
                        <p>
                          <input type="radio" id="business" value="Business" v-model="order.method">
                          <label for="business">Business</label>
                        </p>

                </div>
                <div class="order-information">
                        <h2>Order Information</h2>
                        <p>First Name: {{ order.firstName }}</p>
                        <p>Last Name: {{ order.lastName }}</p>
                        <p>Number: {{ order.Number }}</p>
                        <p>Address: {{ order.address }}</p>
                        <p>City: {{ order.city }}</p>
                        <p>Zip: {{ order.zip }}</p>
                        <p>State: {{ order.state }}</p>
                        <p>Gift? {{ order.gift }}</p>
                        <p>Method: {{ order.method }}</p>
                </div>
                        <button v-on:click="submitOrder">Place Order</button>
                    </div>
            </main>
         </div>

         <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    logo:"images/logo.jpg",
                    sitename:"London Tendrils International School",
                    sortOption: 'subject',
                    sortOrder: 'asc',
                    searchQuery: '', 
                    order: {
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        zip: '',
                        state: '',
                        gift: false,
                        method: 'Home',
                    },
                    states: {
                                DU: 'Dubai',
                                SH: 'Sharjah',
                                AJ: 'Ajman',
                                AB: 'Abu Dhabi'
                            },
                            
                    classes: classes,
                    showClasses: true,
                    cart:[], //array to store items in shopping cart                   
            },

            methods:{
                addToCart: function(classItem) {
                    // Check if adding to cart is possible
                    if (this.canAddToCart(classItem)) {
                        this.cart.push(classItem);
                    classItem.Availability -= 1;
                    }
                },
                canAddToCart: function(classItem) {
                // checking available items minus cart count is greater than 0
                return classItem.Availability - this.cartCount(classItem.id) > 0;
                },

                cartCount(id) {
                return this.cart.filter(item => item === id).length; // storing objects, adjust accordingly
                },

                // cartCount(id) {
                // // Count how many of this item are in the cart
                // return this.cart.filter(item => item.id === id).length;
                // },

                showCheckout(){
                            this.showClasses = !this.showClasses ? false: true;
                            
                        },
                toggleCheckout() {
                            this.showClasses = !this.showClasses;
                },
                goHome() {
                            this.showClasses = true;
                         },

                submitOrder() {alert('Order submitted!');
                               this.cart = [];  // Clear cart after order submission
                                this.classes.forEach((classItem) => {
                                classItem.Availability = 5; 
                                });
                    },

                sortedClasses() {
                            return this.classes.slice().sort((a, b) => {
                            let modifier = this.sortOrder === 'asc' ? 1 : -1;

                            if (this.sortOption === 'Price' || this.sortOption === 'Availability') {
                            // For numeric sorting
                            return (a[this.sortOption] - b[this.sortOption]) * modifier;
                            } else if (this.sortOption === 'Subject') {
                            // alphabet sorting
                            return a.Subject.localeCompare(b.Subject) * modifier;
                            } else {
                            // string
                            let propA = String(a[this.sortOption]).toLowerCase();
                            let propB = String(b[this.sortOption]).toLowerCase();

                            return propA > propB ? modifier : -modifier;
                            }
                            });
                        },

                            toggleSortOrder() {
                            this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc';
                             },

                            removeFromCart: function(item) {
                                const index = this.cart.indexOf(item);
                                if (index > -1) {
                                this.cart.splice(index, 1);
                                // Find the original classItem and increase availability
                                const classItem = this.classes.find(c => c.id === item.id);
                                if (classItem) {
                                classItem.Availability += 1;
                            }
                        }
                    },

            },
        });
        </script>
    </body>
</html>