<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Tendrils</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- vue app container -->
    <div id="app"> 

        <header>
            <img v-bind:src="logo" v-bind:style="{ width: '150px', height: 'auto' }">
            <h1 v-text="sitename"></h1>
                <button v-on:click="toggleCheckout" :disabled="isCartEmpty">
                        {{ cartItemCount }} 
                <span class="fa-solid fa-cart-plus"></span>
                        checkout
                </button>
            <div class="home-button">
                <button v-on:click="goHome" v-if="!showProducts">
                    <span class="fa-solid fa-house-user"></span>
                    Home</button>
            </div>
        </header>

        <main>
            <div v-if="showProducts">
                <h1>Afterschool Learning Assistance</h1>

                <!-- Sorting Options -->
                <div class="sort-box">
                    <label for="sortBy">Sort by: </label>
                    <select v-model="sortOption">
                        <option value="Subject">Subject</option>
                        <option value="Location">Location</option>
                        <option value="Price">Price</option>
                        <option value="Availability">Availability</option>
                    </select>
                    <button v-on:click="toggleSortOrder">
                        {{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }}
                    </button>
                </div>

                <!-- search bar option -->
                <div class="search-bar">
                    <input 
                        type="text" 
                        v-model="searchQuery" 
                        placeholder="Search..." 
                        @focus="showDropdown = true" 
                        @blur="hideDropdownWithDelay"
                    >
                    <ul v-if="showDropdown" class="dropdown">
                        <li 
                            v-for="product in filteredProducts" 
                            :key="product.id" 
                            @click="selectFromDropdown(product.Subject)"
                            @mouseover="highlightItem(product)"
                            :class="{'highlighted': selectedItem === product.Subject}"
                            @click="selectFromDropdown(product.Subject)"
                        >
                            {{ product.Subject }}
                        </li>
                    </ul>
                </div>

                <!-- Product items being displayed -->
                <div v-for="product in filteredProducts" :key="product.id" class="product-box">
                    <figure>
                        <img v-bind:src="product.image" v-bind:style="{ width: '200px', height: 'auto' }">
                    </figure>
                    <h2>{{ product.Subject }}</h2>
                    <p>Subject: {{ product.Subject }}</p>
                    <p>Price: ${{ product.Price }}</p>
                    <p>Availability: {{ product.Availability }}</p>
                    <p>Location: {{ product.Location }}</p>

                    <div>
                        <!-- Full star on whole number... -->
                        <span v-for="n in Math.floor(product.rating)" :key="`full-${n}`"><i class="fa-solid fa-star"></i></span>
                        
                        <!-- Half star on 0.5 -->
                        <span v-if="product.rating % 1 !== 0" :key="`half-star`"><i class="fa-regular fa-star-half-stroke"></i></span>
                        
                        <!-- Empty stars -->
                        <span v-for="n in 5 - Math.ceil(product.rating)" :key="`empty-${n}`"><i class="fa-regular fa-star"></i></span>
                    </div>

                    <!-- add to cart button option -->
                    <button v-on:click="addToCart(product)" v-if="product.Availability > 4">BUY NOW</button>
                    <button v-on:click="addToCart(product)" v-else-if="product.Availability > 0">
                            {{ availabilityMessage(product.Availability) }}
                    </button>
                    <button disabled v-else>NO STOCK</button>
                </div>    
            </div>

            <!-- Checkout Form being displayed -->
            <div v-else>
                <div class="checkout-page">
                    <h2>Checkout Page</h2>
                </div>

                <!--Cart Items-->
                <div class="cart" v-if="cart.length > 0">
                    <h2><span class="fa-solid fa-cart-plus"></span> Your Cart</h2>
                    <ul>
                        <li v-for="item in cart" :key="item.id" class="cart-item">
                            <div class="cart-item-details">
                                <figure>
                                    <img v-bind:src="item.image" alt="Product Image" v-bind:style="{ width: '100px', height: 'auto' }">
                                </figure>
                                <div class="cart-item-info">
                                    <h3>{{ item.Subject }}</h3>
                                    <p>Location: {{ item.Location }}</p>
                                    <p>Price: ${{ item.Price }}</p>
                                    <p>Availability: {{ item.Availability }}</p>
                                </div>
                            </div>
                            <button v-on:click="removeFromCart(item)">🗑️ Remove</button>
                        </li>
                    </ul>
                    <p><strong>Total: </strong>${{ totalPrice }}</p>
                </div>
                <div v-else>
                    <p>No items in cart</p>
                </div>

                <!-- checkout form -->
                <div class="checkout-form">
                    <h2>Checkout Form</h2>
                    <p>
                      <strong>First Name:</strong>
                      <input v-model.trim="order.firstName" 
                         @input="order.firstName = order.firstName.replace(/[^a-zA-Z\s]/g, '')"/>
                    </p>
                    <p>
                      <strong>Last Name:</strong>
                      <input v-model="order.lastName" 
                         @input="order.lastName = order.lastName.replace(/[^a-zA-Z\s]/g, '')"/>
                    </p>
                    <p>
                      <strong>Number:</strong>
                      <input v-model="order.Number" type="text" maxlength="13" @input="order.Number = order.Number.replace(/[^0-9+]/g, '')" />
                    </p>
                    <p>
                      <strong>Address:</strong>
                      <input v-model="order.address"/>
                    </p>
                    <p>
                      <strong>City:</strong>
                      <input v-model="order.city"/>
                    </p>
                    <p>
                      <strong>State:</strong>
                      <select v-model="order.state">
                        <option disabled value="">State</option>
                        <option v-for="(state, key) in states" :value="state">{{ key }}</option>
                      </select>
                    </p>
                    <p>
                      <strong>Zip/Postal Code:</strong>
                      <input v-model.number="order.zip" type="number"/>
                    </p>
                    <p>
                      <input type="checkbox" id="gift" v-model="order.gift">
                      <label for="gift">Ship as Gift?</label>
                    </p>
                    <p>
                      <input type="radio" id="home" value="Home" v-model="order.method">
                      <label for="home">Home</label>
                    </p>
                    <p>
                      <input type="radio" id="business" value="Business" v-model="order.method">
                      <label for="business">Business</label>
                    </p>

                </div>

                    <!-- order information -->
                <div class="order-information">
                        <h2>Order Information</h2>
                        <p>First Name: {{ order.firstName }}</p>
                        <p>Last Name: {{ order.lastName }}</p>
                        <p>Number: {{ order.Number }}</p>
                        <p>Address: {{ order.address }}</p>
                        <p>City: {{ order.city }}</p>
                        <p>Zip: {{ order.zip }}</p>
                        <p>State: {{ order.state }}</p>
                        <p>Gift? {{ order.gift }}</p>
                        <p>Method: {{ order.method }}</p>
                </div>
                        <!-- submit order buttons -->
                        <button v-on:click="submitOrder" :disabled="!formIsValid">Place Order</button>
            </div>
        </div>
        </main>
    </div>

    <script src="products.js"></script>
</body>
</html>